.sql__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8rem;
}

.aql__main-content p {
  font-size: 3rem;
  font-style: italic;
}

.sql__main-img {
  margin: 1rem;
  padding-right: 23rem;
}

.sql__main-img img {
  width: 250px;
}
